
:root{
    --clr-dark:#0f172a;
    --clr-light:#fff;
    --clr-accent:#0a584f;
}
body {
    margin: 5em 0 0 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: 'Roboto', sans-serif;
    color: var(--clr-dark);
    background-color: var(--clr-light);
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    border: 5px solid var(--clr-dark);
    display: grid;
    grid-template-columns: 1fr minmax(100px, 1fr) 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  
  .item {
    padding: 0.5em;
    background-color: #31c0af;
    font-weight: 700;
    color: var(--clr-light);
    border: 10px solid var(--clr-accent);
  }

  .item-1 {
   /* grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3; */
    grid-row: 1 / 3;
    grid-column: 1 / 5;
  }

  .item-2 {
    grid-row: span 2;
    grid-column: span 2;
  }

  .items-3 {
    grid-area: 3 / 1 / -1 / -1;  }